/* 基本色　*/
:root{
  --main-color: #00BAFF;
  --accent-color: #FF194E;
  --dark-color: #0099FF;
}


/* 基本設定 */
body {
    margin: 0;
    background-color: #00BAFF;
    background-size: 50px 50px;
    margin: 0 auto;
    background-image: radial-gradient(#0099FF 15%, #00BAFF 20%);
      
}

li {
    list-style: none;
}

.question:nth-of-type(n+2) {
    display: none;
}


/* heder: ヘッダーの設置 */
header {
background-color: var(--main-color);
background-color: #00BAFF;
}
.headA {
font-family: 'Chalkduster',sans-serif;
font-size: 30px;
text-decoration: none;
}
.headA:visited {
    color: black;
}
.headB ul {
margin: 0;
padding: 0;
list-style: none;
}
.headB a {
display: block;
padding: 15px;
color: inherit;
font-size: 12px;
text-decoration: none;
}
.headB a:hover {
background-color: rgba( 0, 0, 0, 0.3);
}
  
@media (min-width: 768px) {
    header .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
    }
    .headB ul{
        display: flex;
      }
  }

/* conList: 哲学者の一覧 */
.conList .container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 30px auto;
}

.personData {
    display: flex;
    flex: 1 1 300px;
    background-color: antiquewhite;
    margin: 10px;
}

.personData .container{
  
  }


.personImage {
    max-height: 200px;
}

